<footer class="footer">
    <div class="container">
        <div class="footer__container">
            <div class="footer__block footer__developers">
                <h4 class="footer__title">Розробники</h4>
                <p class="footer__text">Цей застосунок створено студентами Сигіль С. З., Турчин Л. Л., Букатюк І. С. 😎
                </p>
            </div>
            <div class="footer__block footer__interaction">
                <h4 class="footer__title">Взаємодія</h4>
                <button class="footer__interaction-button">Завантаження...</button>
            </div>
            <div class="footer__block footer__copyright">
                <h4 class="footer__title">© 2025 Catalog App</h4>
                <p class="footer__text">Усі права захищено. Використання матеріалів тільки з дозволу автора.</p>
            </div>
            <div class="modal modal--visible">
                <div class="modal__content">
                    <h2 class="modal__title">Вітаємо!</h2>
                    <p class="modal__text modal__text-appeal">Як до тебе звертатись?</p>
                    <input type="text" class="modal__input" placeholder="Введи ім’я">
                    <button class="modal__save">Зберегти</button>
                </div>
            </div>
            <div class="modal modal--greeting">
                <div class="modal__content">
                    <h2 class="modal__title">Привіт!</h2>
                    <p class="modal__text modal__text--greeting"></p>
                    <button class="modal__save modal__save--close">Закрити</button>
                </div>
            </div>
        </div>
    </div>
</footer>