<header class="header">
    <div class="header__container container">
        <div class="header__main-page-logo-link">
            <a class="header__logo-link">
                <img class="header__logo-image" src="images/logo.png" alt="logo image">
            </a>
        </div>
        <nav class="header__navigation-menu">
            <ul class="header__navigation-links">
                <li class="header__navigation-link-item">
                    <button class="header__navigation-link" data-page="main">Головна</button>
                </li>
                <li class="header__navigation-link-item">
                    <button class="header__navigation-link" data-page="catalog">Каталог</button>
                </li>
                <li class="header__navigation-link-item">
                    <button class="header__navigation-link" data-page="memory-game">🎮 Гра на пам’ять</button>
                </li>
                <li class="header__navigation-link-item">
                    <button class="header__navigation-link blackjack__nav-btn" data-page="blackjack">🎮
                        BlackJack</button>
                </li>
            </ul>
        </nav>
        <div class="header__burger">
            <span class="header__burger-icon"></span>
        </div>
        </span>
    </div>
</header>