<section class="game-box hidden">
    <div class="container">
        <h1 class="game-box__title">🎮 GameBox Гра на пам’ять</h1>
        <p class="game-box__subtitle">Знайди всі пари карток!</p>

        <section class="game-box__controls">
            <button id="startBtn" class="game-box__button">Почати гру</button>
            <span id="timer" class="game-box__timer">00:00</span>
            <span id="score" class="game-box__score">Бали: 0</span>
        </section>

        <section id="gameBoard" class="game-box__game-board"></section>
    </div>
</section>